<h1>Edit your form</h1>
<%= form_with url: users_path do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username %><br><br>
    <%= form.label :email %>
    <%= form.email_field :email  %><br><br>
    <%= form.label :password %>
    <%= form.password_field :password %><br><br>
    <%= form.submit %>
<%end%>